
@{
    ViewBag.Title = "List";
}

@section scripts
{
    <script type="text/javascript">
        $(function() {
            var vm = function() {
                var self = this;
                self.items = ko.observableArray([]);
                self.load = function() {
                    $.getJSON('@Url.Content("~")api/links', function (data) {
                        ko.utils.arrayForEach(data, function(item) {
                            item.Created = new Date(item.Created).toLocaleString("ru");
                        });
                        self.items(data);
                        console.log('getJSON OK');
                    }).fail(function() {
                        alert('Что-то пошло не так!');
                    });
                };

                self.load();
            };
            ko.applyBindings(new vm());
        })
    </script>
}

<h2>@ViewBag.Title</h2>
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>ссылка</th>
            <th>дата создания</th>
            <th>переходы</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: items">
    <tr>
        <td data-bind="text: Url"></td>
        <td rowspan="2" data-bind="text: Created"></td>
        <td rowspan="2" data-bind="text: Redirects"></td>
    </tr>
    <tr>
        <td data-bind="text: Short"></td>
    </tr>
    </tbody>
</table>

